{% extends 'app_users/base.html' %}
{% block title %} Create user  {% endblock %}
{% block content %}
    <div class="section ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <ul class="breadcrumb ">
                        <li>
                            <a href="# ">Home</a>
                        </li>
                        <li>
                            <a href="# ">Tour Leads</a>
                        </li>
                        <li class="active ">Add Lead</li>
                    </ul>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    {{ form.errors }}
                    <form class="form-horizontal " method="post" role="form ">
                        {% csrf_token %}
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="inputEmail3 " class="control-label ">Name</label>
                            </div>
                            <div class="col-sm-10 ">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="gender " class="control-label ">Gender</label>
                            </div>
                            <div class="col-sm-10">
                                {% for f in form.gender %}
                                    {{ f }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="languages " class="control-label ">Languages</label>
                            </div>
                            <div class="col-sm-10" id="list-languages">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="languages" placeholder="Chinese">
                                    <span class="input-group-btn my-add" id="create-block">
                                        <button class="btn">
                                            <i class="fa fa-plus fa-fw"></i>Add</button>
                                    </span>
                                </div>
                                {{ formset.management_form }}
                                {% for f in formset %}
                                    <div class="input-group">
                                        {% for ff in f %}
                                            {{ ff }}
                                        {% endfor %}
                                        <span class="input-group-btn my-remove">
                                            <button class="btn">
                                            <i class="fa fa-remove fa-fw"></i>Remove</button>
                                        </span>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="card " class="control-label ">Card Number</label>
                            </div>
                            <div class="col-sm-10 ">
                                {{ form.card_number }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="date " class="control-label ">Expiry Date</label>
                            </div>
                            <div class="col-sm-10 ">
                                {{ form.expire_date }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="pro " class="control-label ">Professional</label>
                            </div>
                            <div class="col-sm-10 ">
                               {% for f in form.professional %}
                                    {{f}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-offset-2 col-sm-10 ">
                                <button type="submit " class="btn btn-default ">
                                    <i class="fa fa-save fa-fw "></i>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 <script type="text/javascript" > var js_list = {{to_js|safe}}; </script>

    <script language="JavaScript">

        $(document).ready(function() {

            //hide all checkbox delete
            $('div.input-group input[type=checkbox]').hide();


            $("#list-languages").on("click", "span.my-remove", function(event){
                event.preventDefault();
                let block = this.parentNode;
                let checkbox = block.querySelectorAll('input[type=checkbox]')[0];
                checkbox.checked = true;
                block.style.display = "none";
            });

            function get_new_id(tree) {
                //GET NUMBER ID
                let div = tree.querySelector('div:last-child');
                if (!div){
                    return 0;
                }

                let id = div.firstElementChild.id;
                if (!div){
                    return 0;
                }

                let arrayOfStrings = id.split('-');
                let index = arrayOfStrings[1];

                let new_id =  Number(index)+1;

                return new_id;
            }

            $('#create-block').click(function(event) {
                event.preventDefault();
                let value_in_field_lang = document.getElementById('languages').value;


                let block = document.getElementById('list-languages');
                let id = get_new_id(block);
                let to_copy = block.lastElementChild;
                let new_block = document.createElement('div');
                new_block.className = 'input-group';
                new_block.innerHTML = to_copy.innerHTML;
                update_id(new_block, id);
                up_total_forms();

                block.append(new_block);
            });

            function update_id(block, id) {
                for(let i=0; i<block.childNodes.length; i++) {
                    let elem = block.childNodes[i];
                    if (elem.nodeName.toLowerCase()!=='#text'){
                        up_attr(elem);
                    }
                }
            }

            function set_new_attr(str_obj) {
                let arrayOfStrings = str_obj.split('-');
                let index = arrayOfStrings[1];
                let new_id =  Number(index)+1;
                return `${arrayOfStrings[0]}-${new_id}-${arrayOfStrings[2]}`;

            }

            function up_attr(element) {
               if (element.id){
                    element.id = set_new_attr(element.id);
                }
                if (element.name){
                    element.name = set_new_attr(element.name);
                }
            }

            function up_total_forms() {
                let elem = document.getElementById('id_leadlanguages_set-TOTAL_FORMS');
                elem.value = Number(elem.value) + 1;
            }



        });
    </script>
{% endblock %}
