{% extends 'app_users/base.html' %}
{% block title %} Create user  {% endblock %}
{% block content %}
    <div class="section ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <ul class="breadcrumb ">
                        <li>
                            <a href="# ">Home</a>
                        </li>
                        <li>
                            <a href="# ">Tour Leads</a>
                        </li>
                        <li class="active ">Add Lead</li>
                    </ul>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    {{ form.errors }}
                    <form class="form-horizontal " method="post" role="form ">
                        {% csrf_token %}
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="inputEmail3 " class="control-label ">Name</label>
                            </div>
                            <div class="col-sm-10 ">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="gender " class="control-label ">Gender</label>
                            </div>
                            <div class="col-sm-10">
                                {% for f in form.gender %}
                                    {{ f }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="languages " class="control-label ">Languages</label>
                            </div>
                            <div class="col-sm-10" id="list-languages">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="languages" placeholder="Chinese">
                                    <span class="input-group-btn my-add" id="create-block">
                                        <button class="btn">
                                            <i class="fa fa-plus fa-fw"></i>Add</button>
                                    </span>
                                </div>
                                {{ formset.management_form }}
                                {% for f in formset %}
                                    <div class="input-group">
                                        {% for ff in f %}
                                            {{ ff }}
                                        {% endfor %}
                                        <span class="input-group-btn my-remove">
                                            <button class="btn">
                                            <i class="fa fa-remove fa-fw"></i>Remove</button>
                                        </span>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="card " class="control-label ">Card Number</label>
                            </div>
                            <div class="col-sm-10 ">
                                {{ form.card_number }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="date " class="control-label ">Expiry Date</label>
                            </div>
                            <div class="col-sm-10 ">
                                {{ form.expire_date }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="pro " class="control-label ">Professional</label>
                            </div>
                            <div class="col-sm-10 ">
                               {% for f in form.professional %}
                                    {{f}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-offset-2 col-sm-10 ">
                                <button type="submit " class="btn btn-default ">
                                    <i class="fa fa-save fa-fw "></i>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 <script type="text/javascript" > var js_list = {{to_js|safe}}; </script>

    <script language="JavaScript">

        $(document).ready(function() {

            //hide all checkbox delete
            $('div.input-group input[type=checkbox]').hide();


            // display none + checkbox true to delete
            //simulate operations delete
            $("#list-languages").on("click", "span.my-remove", function(){
                event.preventDefault();
                let block = this.parentNode;
                let checkbox = block.querySelectorAll('input[type=checkbox]')[0];
                checkbox.checked = true;
                block.style.display = "none";
            });

            function add_options_to_select(select) {
                let options = {{to_js|safe}};

                for (let i = 0; i<options.length; i++){
                    let opt = document.createElement('option');
                    opt.value = options[i];
                    opt.innerHTML = options[i];
                    select.appendChild(opt);
                }
            }

            function set_all_atr_hidden_field(id, field) {
                // set input name, value, id who has type hidden

                field.setAttribute('name', `leadlanguages_set-${id}-lead`);
                field.setAttribute('id', `id_leadlanguages_set-${id}-lead`);
            }
            function set_all_atr_hidden2_field(id, field) {

                field.setAttribute('name', `leadlanguages_set-${id}-id`);
                field.setAttribute('id', `id_leadlanguages_set-${id}-id`);
            }

            function set_all_atr_select_field(id, field) {
                field.setAttribute('name', `leadlanguages_set-${id}-language`);
                field.setAttribute('id', `id_leadlanguages_set-${id}-language`);
            }
            function set_all_atr_checkbox_field(id, field) {
                field.setAttribute('name', `leadlanguages_set-${id}-DELETE`);
                field.setAttribute('id', `id_leadlanguages_set-${id}-DELETE`);
            }

            function get_new_id(tree) {
                //GET NUMBER ID
                let div = tree.querySelector('div:last-child');
                if (!div){
                    return 0;
                }

                let id = div.firstElementChild.id;

                let arrayOfStrings = id.split('-');
                let index = arrayOfStrings[1];

                let new_id =  Number(index)+1;
                if (isNaN(new_id)){
                    return 0;
                }
                return new_id;
            }
            $('#create-block').click(function(event) {
                // create new block elements

                event.preventDefault();

                let value_in_field_lang = document.getElementById('languages').value;
                let block = document.getElementById('list-languages');
                let id = get_new_id(block);

                if (value_in_field_lang.length > 1) {
                    document.getElementById('languages').value = '';

                    let start_block = document.createElement('div');
                    start_block.className = 'input-group';

                    let input_hidden = document.createElement("input");
                    input_hidden.setAttribute("type", "hidden");
                    set_all_atr_hidden_field(id, input_hidden);

                    let input_hidden2 = document.createElement("input");
                    input_hidden2.setAttribute("type", "hidden");
                    set_all_atr_hidden2_field(id, input_hidden2);

                    let select = document.createElement("select");
                    select.setAttribute("class", "form-control");
                    set_all_atr_select_field(id, select);
                    add_options_to_select(select);

                    let checkbox_delete = document.createElement("input");
                    checkbox_delete.setAttribute("type", "checkbox");
                    checkbox_delete.style.display = "none";
                    set_all_atr_checkbox_field(id, checkbox_delete);

                    let span_to_button = document.createElement('span');
                    span_to_button.setAttribute("class", "input-group-btn my-remove");

                    let span_button = document.createElement('button');
                    span_button.setAttribute("class", "btn");

                    let span_button_i = document.createElement('i');
                    span_button_i.className = 'fa fa-remove fa-fw';

                    span_button.append(span_button_i);

                    span_button.innerText = 'Remove';
                    span_button.insertBefore(span_button_i, span_button.firstChild);

                    span_to_button.append(span_button);

                    start_block.append(input_hidden);
                    start_block.append(select);
                    start_block.append(input_hidden2);
                    start_block.append(checkbox_delete);
                    start_block.append(span_to_button);

                    let block = document.getElementById('list-languages');

                    block.append(start_block);

                }

            });
            // $('#create-block').click(function(event) {
            //     // create new block elements
            //
            //     event.preventDefault();
            //
            //     let value_in_field_lang = document.getElementById('languages').value;
            //
            //     if (value_in_field_lang.length > 1){
            //         document.getElementById('languages').value = '';
            //
            //         let start_block = document.createElement('div');
            //         start_block.className = 'input-group';
            //
            //         let input_hidden = document.createElement("INPUT");
            //         input_hidden.setAttribute("type", "hidden");
            //
            //          let input_show = document.createElement("select");
            //         input_show.setAttribute("type", "text");
            //         input_show.setAttribute("class", "form-control");
            //         input_show.setAttribute("maxlength", "255");
            //         input_show.value = value_in_field_lang;
            //
            //
            //         let span_to_button = document.createElement('span');
            //         span_to_button.setAttribute("class", "input-group-btn my-remove");
            //
            //         let span_button = document.createElement('button');
            //         span_button.setAttribute("class", "btn");
            //
            //         let span_button_i = document.createElement('i');
            //         span_button_i.className = 'fa fa-remove fa-fw';
            //
            //         span_button.append(span_button_i);
            //
            //         span_button.innerText = 'Remove';
            //         span_button.insertBefore(span_button_i, span_button.firstChild);
            //
            //         span_to_button.append(span_button);
            //
            //         start_block.append(input_show);
            //         start_block.append(input_hidden);
            //         start_block.append(span_to_button);
            //
            //         let block = document.getElementById('list-languages');
            //         const id_objs = get_new_id(block);
            //
            //         block.append(start_block);
            //
            //         set_all_atr_show_field(id_objs, input_show);
            //         set_all_atr_hidden_field(id_objs, input_hidden);
            //     }
            //
            // });

        });
    </script>
{% endblock %}
